---

# Define the encrypted SQL password variable outside the nested structures due
# to the issue described in https://stackoverflow
# .com/questions/50770524/ansible-vault-inline-variable-with-to-nice-json
# -unexpected-templating-type-erro
sql_password: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    38343537636565393862383239373761353462663633363862306634393932346234326363336262
    3832333964613938393263346135303463306137643761660a653361633436613765383831663933
    61616438653538353462323834646335623664623430313562666335643531393561313065626464
    3936366636623763370a356465396433386661613237393765613961333564363737626265386361
    61333636376464653832366532313239616433613862646435396165373237636662623136353163
    3936383039623965376533396531363134303531653935336563

# PostgreSQL Server Settings.
postgresql_python_library: "python-psycopg2"

# PostgreSQL Databases.
postgresql_databases:
  - name: "fightfor"
    port: 5432
  - name: "test"
    port: 5432

# PostgreSQL Users.
postgresql_users:
  - name: "{{ system.user }}"
    password: "{{ sql_password }}"
    port: 5432

# PostgreSQL schemata.
postgresql_schemata:
  - clinicaltrials
  - pubmed
  - mesh
  - app

# PostgreSQL extensions.
postgresql_extensions:
  - pg_trgm
  - postgis

project:
  name: "mt-ingester"

system:
  # User name.
  user: "mt_ingester"
  # User group.
  group: "mt_ingester"
  # Application directories.
  directories:
    config: "/etc/{{ project.name }}"
    share: "/usr/local/share/{{ project.name }}"
    run: "/var/run/{{ project.name }}"
    log: "/var/log/{{ project.name }}"
    virtual_env: "/usr/local/share/{{ project.name }}/venvs/{{ project.name }}"


# Application Configuration Settings.
config:
  test:
    # General Settings.
    logger_level: DEBUG

    # PostgreSQL Server Configuration Settings.
    sql_host: "localhost"
    sql_port: 5432
    sql_username: "{{ system.user }}"
    sql_password: "{{ sql_password }}"
    sql_db: "test"

  dev:
    # General Settings.
    logger_level: DEBUG

    # PostgreSQL Server Configuration Settings.
    sql_host: "localhost"
    sql_port: 5432
    sql_username: "{{ system.user }}"
    sql_password: "{{ sql_password }}"
    sql_db: "fightfor"

  prod:
    # General Settings.
    logger_level: INFO

    # PostgreSQL Server Configuration Settings.
    sql_host: "localhost"
    sql_port: 5432
    sql_username: "{{ system.user }}"
    sql_password: "{{ sql_password }}"
    sql_db: "fightfor"
